{
    font-familY: Arial, helvetica, sans-serif;
    font-size: 16px;
}

body {
background-color: rgb(130, 255, 213);
}

main {
    background-color: beige;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.247);
}

img.lado {
    float: right;
}